<launch>
  <arg name="model" default="$(find nda_robot_description)/urdf/robot.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <include file="$(find nda_robot_bringup)/launch/joy/joy_control.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nda_robot_bringup)/config/rviz/teleop.rviz" required="true" />
</launch>
